* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
body {
  background-color: rgb(229, 240, 240);
  overflow: hidden;
}
dialog {
  padding: 40px;
  width: 30%;
  align-self: center;
  justify-self: center;
}
input {
  display: block;
  width: 100%;
  margin: 5px 0;
  margin-bottom: 20px;
}
button {
  padding: 10px;
  text-transform: uppercase;
  background-color: antiquewhite;
  cursor: pointer;
}
#bookshelf-container {
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
}

#add-book {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 9%;
  width: 300px;
  font-size: 1.5rem;
  font-weight: 600;
  transition-duration: 0.3s;
}
#add-book:hover {
  transform: translate(-50%, -53%);
  box-shadow: 1px 3px 4px 2px rgba(36, 36, 36, 0.103);
  scale: 1.01;
}
#bookshelf-border {
  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 5px;
  height: 101vh;
  width: 800px;
  align-self: center;
}
#bookshelf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  border: rgb(0, 0, 0) solid 5px;
  height: 101vh;
  width: 800px;
  align-self: center;
  padding-top: 100px;
  gap: 20px;
}
.shelf {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
}
.book-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.shelf-support {
  width: 710px;
  height: 8%;
  border: rgb(0, 0, 0) solid 5px;
}
.book {
  display: grid;
  align-items: center;
  border: rgb(73, 73, 73) solid 3px;
  padding: 1px;
  width: calc(100% / 6);
  height: 98%;
  background-color: aliceblue;
  text-align: center;
  cursor: pointer;
}
.book p {
  font-size: 0.9rem;
}
form h3,
#book-content h3,
#book-content h4,
#book-content p {
  margin-bottom: 10px;
}
/*Dialog Modal */
::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}
