* {
  margin: 0;
}
body {
  overflow: hidden;
}
dialog {
  width: 50%;
  align-self: center;
  justify-self: center;
}
#bookshelf-container {
  margin-top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
}
#add-book {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 10%;
  top: 50%;
  padding: 10px;
  text-transform: uppercase;
  background-color: antiquewhite;
  cursor: pointer;
}
#bookshelf-border {
  display: flex;
  align-items: center;
  justify-content: center;
  border: black solid 5px;
  height: 101vh;
  width: 800px;
  align-self: center;
}
#bookshelf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  border: rgb(0, 0, 0) solid 5px;
  height: 101vh;
  width: 800px;
  align-self: center;
  padding-top: 30px;
  gap: 50px;
}
.shelf {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25%;
}
.book-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.shelf-support {
  width: 710px;
  height: 8%;
  border: rgb(0, 0, 0) solid 5px;
}
.book {
  display: grid;
  align-items: center;
  border: rgb(73, 73, 73) solid 3px;
  width: calc(100% / 6);
  height: 99%;
  background-color: aliceblue;
  text-align: center;
  cursor: pointer;
}

/*Dialog Modal */
::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}
